#small-logo {
  padding: 10px 50px;
}

.test1 a:hover {
  color: black;
  background-color: #5f1f9c;
}

.test1 a {
  border-radius: 7px;
  -webkit-transition-duration: 0.2s;
  color: #ffffff;
  /* Safari */
}

.test1 li {
  text-align: center;
  font-family: Audiowide;
  padding: 10px 0px 10px 0px;
}

.showmore button {
  background-color: white;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Audiowide;
}

.showmore button:hover {
  background-color: dodgerblue;
  color: white;
}

/* Logo for large and up */
.menu-text a {
  color: inherit;
  text-decoration: inherit;
  padding: 10px;
  font-family: Audiowide;
  font-size: 20px;
  border-radius: 7px;
  background-color: #9f18cf;
}

/* medium logo is in list */

/*small logo*/
.title-bar-title a {
  color: #8f12c7;
  text-decoration: inherit;
  padding: 7px;
  font-family: Audiowide;
  border-radius: 7px;
  background-color: #000000;
}

.bottom-links div {
  padding-bottom: 5px;
  text-align: center;
}

.sub-section div h3 {
  text-align: center;
}

.sub-section div h3 a {
  color: inherit;
}

ul.test1 {
  background: #607d8b;
}

h2,h3.bold-text {
  color: #303e45;
}

i.fa-square {
  color: #607d8b;
}

/* main acent */
.palette-1 {
  background: #ff5722;
}

/*  */
.palette-2 {
  background: #e1e1e1;
}

/* bold text */
.palette-3 {
  background: #607d8b;
}

/* text */
.palette-4 {
  background: #000000;
}

/* background */
.palette-5 {
  background: #f5f5f5;
}
